<h2 class="menu-text list">
  <%= scores.title %>
</h2>

<% for (let entry of scores.collection)  { %>
<div class="listItem hidden">
  <%- include ('../partials/_box.ejs', {box: entry})  %>
</div>


<% } %>