
        
      <% let scores = db[item] %>
      <h2 class="menu-text list">
        <%= scores.title %>
      </h2>

      <% for (let entry of scores.collection)  { %>
      <p class="listItem hidden">
        <%= entry %>
      </p>


      <% } %>