<%- include ('partials/_header.ejs')  %>


<body>

  <%- include ('partials/_menu.ejs')  %>
  <%- include ('partials/_bio.ejs')  %>


  <div class="content-box">

    <!-- this works like a variable in the jquery to determine z-index of focused boxes -->
    <h2 class="hidden" id="z-index">1</h2>

    <%- include ('partials/_boxIterator.ejs') %>

  </div>


</body>

</html>