* {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  background-color: blanchedalmond;
}

.fixed {
  position: fixed;
  top: 0;
}

.content-box {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  top: 5vh;
}

.box {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: linen;
  margin: 1rem;
}
.box.open {
  top: -35vh;
}

.parent_group-1 {
  box-shadow: 2px 2px #8A2BE2;
}
.parent_group-1.focused {
  box-shadow: 5px 5px #8A2BE2;
}
.parent_group-2 {
  box-shadow: 2px 2px #698F3F;
}
.parent_group-2.focused {
  box-shadow: 5px 5px #698F3F;
}
.parent_group-3 {
  box-shadow: 2px 2px #06BCC1;
}
.parent_group-3.focused {
  box-shadow: 5px 5px #06BCC1;
}

.unfocused {
  opacity: 0.8;
}
.unfocused.collection-item {
  opacity: 1;
}

.hidden {
  display: none;
}

div.open {
  opacity: 0.5;
  transition: 0.25s ease;
}
div.open .closebox {
  pointer-events: none;
  position: absolute;
  top: 1px;
  right: 0px;
  outline: 1px solid black;
  padding: 0 5px;
}
div.open:hover {
  opacity: 1;
}
div.open h2.menu-text {
  margin-bottom: 0;
}
div.open p.caption {
  margin-top: 0;
}
div.open img.box-image {
  margin-bottom: -0.25rem;
  max-width: 500px;
  margin-left: 4px;
  margin-right: 4px;
}
div.open img.box-image__portrait {
  display: block;
  max-height: 400px;
  width: auto;
  height: auto;
}

.box-content__row {
  display: flex;
}
.box-content__text {
  min-width: 350px;
}
.box-content__text__portrait {
  min-width: 350px;
  margin-left: 1rem;
}

h2 {
  margin: 0.25rem;
}

div.open p.caption {
  font-size: 0.75rem;
  margin-left: 4px;
  margin-right: 4px;
}

h2,
p {
  color: #0A122A;
}

.box-text {
  max-width: 500px;
  font-size: 0.75rem;
  margin-right: 4px;
}
.box-text.description {
  font-size: 1rem;
}

.calendar-content-box {
  position: fixed;
  /* margin: 0 auto; */
  top: 10vh;
  left: 0;
  /* border: 1px solid black; */
  width: 50vw;
  height: 50vh;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: linen;
  opacity: 0.9;
  z-index: 400;
}

.calendar-box.closed {
  display: inline;
}
.calendar-box.closed .calendar-content-box {
  display: none;
}

.calendar-title {
  display: inline;
}

.contact-box {
  display: flex;
}
.contact-box .email {
  display: none;
}
.contact-box:hover h2, .contact-box.open h2 {
  font-size: 5rem;
}
.contact-box:hover h2.email, .contact-box.open h2.email {
  display: contents;
}

.menu {
  z-index: 100;
  left: 0;
}

.bio {
  z-index: 100;
  position: absolute;
  top: 50vh;
  left: 10vw;
  width: 12rem;
  /* border: 1px solid black; */
  min-height: 2.5rem;
}

.box.collection.open {
  background-color: transparent;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  pointer-events: none;
  opacity: 0.8;
}

.collection-title, .collection-item {
  background-color: linen;
  box-shadow: 2px 2px #DB5A42;
}
.collection-title.focused, .collection-item.focused {
  box-shadow: 5px 5px #DB5A42;
}

.collection-item {
  position: relative;
}

div.open.listsParent .collection-title {
  font-size: 2rem;
  box-shadow: 7px 7px #DB5A42;
  opacity: 1;
}

.clickable, .collection-title {
  pointer-events: all;
}

.clickable.listItem.collection-item.listsParent {
  margin-top: 50px;
}

/*# sourceMappingURL=styles.css.map */
