.content-box {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

.box {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: linen;
}

.unfocused {
  opacity: 0.8;
  box-shadow: 1.5px 1.5px darkgrey;
  
}

.hidden {
  display: none;
}

.focused {
  opacity: 1;
  box-shadow: 5px 5px blueviolet;
  border: 2px dashed black;
  background-color: yellow;
}
