.content-box {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  top: 5vh;
}

.box {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: linen;
  margin: 1rem;

  &.open {
    top: -35vh;
  }
}

.parent_group- {
  &1 {
    box-shadow: 2px 2px $colPurple;
    &.focused {
      box-shadow: 5px 5px $colPurple;
    }
  }
  &2 {
    box-shadow: 2px 2px $colGreen;
    &.focused {
      box-shadow: 5px 5px $colGreen;
    }
  }
  &3 {
    box-shadow: 2px 2px $colTeal;
    &.focused {
      box-shadow: 5px 5px $colTeal;
    }
  }
}

.unfocused {
  opacity: 0.8;
  &.collection-item{
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.focused {
}

div.open {
  opacity: 0.5;
  transition: 0.25s ease;
  .closebox {
    pointer-events: none;
    position: absolute;
    top: 1px;
    right: 0px;
    outline: 1px solid black;
    padding: 0 5px;
  }
  &:hover {
    opacity: 1;
  }
  h2.menu-text {
    margin-bottom: 0;
  }
  p.caption {
    margin-top: 0;
  }

  img.box-image {
    margin-bottom: -0.25rem;
    max-width: 500px;
    margin-left: 4px;
    margin-right: 4px;
    &__portrait {
    display: block;

    max-height: 400px;
    width: auto;
    height: auto;
    }
  }
}

.box-content {

  
  &__row{
    display: flex;
  
  }
 
  
  &__text {
    min-width : 350px;
    &__portrait {
      min-width : 350px;
      margin-left: 1rem;
    }
  }
}