.box.collection.open{
   background-color: transparent;
   height: 50vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
  pointer-events: none;
     opacity: .8;
  
}

.collection-title, .collection-item {
  background-color: linen;
   box-shadow: 2px 2px $colRed;
   &.focused {
     
     box-shadow: 5px 5px $colRed;
   }
  }
  
  .collection-item {
    position: relative;
  }
  
  div.open.listsParent{
    .collection-title{
      font-size: 2rem;
      box-shadow: 7px 7px $colRed;
      opacity: 1;
  }
}

.clickable, .collection-title {
  pointer-events: all;
}