* {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  background-color: blanchedalmond;
}

.fixed {
  position: fixed;
  top: 0;
}

@import "variables";
@import "boxes";
@import "typography";
@import "menu";
@import 'collections'