h2 {
  margin: 0.25rem;
}

.subtitle {
  margin-left: .25rem;
}

div.open {
  h2.menu-text {
  }
  p.caption {
    font-size: 0.75rem;
    margin-left: .25rem;
    margin-right: 4px;
  }
}

h2,
p {
  color: $colNavy;
}

.box-text {
  max-width: 500px;
  font-size: 0.75rem;
 margin-left: .25rem;
  &.description {
    font-size: 1rem;
  }
}
